/*Import font from Google CDN*/
@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');
/*Reset CSS*/
/*Universal selector (*) targets every new element (regardless tag, class, ID)*/
* {
    margin: 0px;
    padding: 0px;
}
/*If pseudo class :root is used, :root takes priority over html element*/
/*When applied, font size of 5px takes priority over that of html*/
/*:root{font-size: 5px;}*/
/*Here, html selector takes priority as root element over universal selector*/
html, body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
.container {
    display: grid;
    grid-template-columns: [full--start] 0.6fr [center--end center--start] 0.4fr [full--end];
    grid-template-rows: repeat(6, min-content);
}
/*Start of desktop section*/
/*Set up the navbar for the desktop*/
.desktop-nav {
    grid-column: full--start / full--end;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.desktop-nav > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo {
    height: 2rem;
    width: auto;
    padding-left: 1.5rem;
}
.logo-name {
    font-size: 1rem;
    text-transform: uppercase;
}
.logo-name-bold {
    font-weight: bold;
    color: #484848;
}
.logo-name-thin {
    font-weight: 400;
    color: #aaa;
}
.nav-list {
    list-style: none;
    display: flex;
}
/*set up nav links' styles*/
.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
}
.nav-item:not(:last-child) {
    margin-right: 1rem;
}
.nav-item:last-child {
    margin-right: 1.5rem;
}
.header-picture {
    background-color: #c8c8c8;
    display: flex;
}
.header-picture img {
    width: 100%;
    height: auto;
    padding: 2rem 0 2rem 1.5rem;
}
.header-content {
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}
.header-content div h1 {
    font-size: 1.4rem;
    color: #484848;
}
.header-content div h2 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #484848;
    padding: 1rem 0;
}
.header-content div {
    display: block;
    width: 80%;
}
.header-content div a:link {
    display: block;
    width: 100%;
    align-self: stretch;
    margin: 1rem auto;
    padding: 0.5rem 0;
    background-color: #484848;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
}
/*hover effect for call to action link*/
.header-content div a:hover {
    background-color: rgb(72, 72, 72, 0.5);
}
.header-content div a:visited, .header-content div a:active {
    color: #fff;
    text-decoration: none;
    background-color: #484848;
}
/*Set up practice section*/
.practice {
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}
.practice img {
    width: 100%;
    height: auto;
}
.practice h3 {
    padding: 2rem 0;
    color: #484848;
}
.practice p {
    font-size: small;
    color: #484848;
}
.quote-name {
    display: block;
    margin: 2rem 0;
}
.events {
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-left: 1px solid #e7e7e7;
    padding-top: 1rem;
}
.event-block {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #484848;
}
.event-block img {
    width: 100%;
    height: auto;
    padding: 1rem;
}
.event-block-content {
    margin: 0 2rem;
}
.event-block-content h4 {
    font-size: 1rem;
}
.event-block-content p {
    font-size: 0.8rem;
    padding: 0.25rem 0;
}
.event-block-content a:link {
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}
.event-block-content a:visited, .event-block-content a:active {
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}
.event-block:last-child {
    background-color: #cecbcb;
}
/*Hide events mobile*/
.events-mobile {
    display: none;
}
/*hide learning mobile*/
.start-learning-mobile {
    display: none;
}

footer {
    display: flex;
    font-size: 0.8rem;
    grid-column: full--start / full--end;
    color: #303646;
    padding: 1rem 0 1.5rem 1.5rem;
}
footer p {
    margin-right: auto;
}
footer ul {
    list-style: none;
    display: flex;
    margin-right: 1.5rem;
}
footer ul li:not(:last-child) {
    margin-right: 1rem;
}
footer a:link {
    text-decoration: none;
    color: #303646;
}
footer a:hover {
    text-decoration: underline;
    color: rgb(48, 54, 70, 0.5);
}
footer a:active, footer a:visited {
    text-decoration: none;
    color: #303646;
}
/*learning container*/
.start-learning {
    width: auto;
    margin: auto;
    background-color: #eaebec;
    padding: 32px 72px;
    grid-column: full--start / full--end;
}
.start-learning-title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #484848;
}
.learning-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.learning-card {
    font-size: small;
    background-color: white;
    padding-bottom: 10px;
}
.learning-card h4 {
    padding: 1rem 0 0.5rem 1rem;
    font-size: 1.5rem;
    color: #484848;
}
.learning-card p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    color: grey;
}
.learning-card img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    /*background-image: url("img/imgplaceholder.png");*/
    text-indent: -9999px;
}
.learning-card .scope {
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.learning-card a {
    text-decoration: none;
}

/*Thesis*/
.thesis {
    grid-column: full--start / full--end;
}
.thesis h2 {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}
.thesis-container {
    display: flex;
}
.thesis-left {
    width: 60%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
}
.thesis-left p {
    padding-bottom: 2rem;
    font-size: small;
}
.thesis-left h3 {
    padding: 1.5rem 0 0.5rem 0;
    color: #4a4a4a;
}
.thesis-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.thesis-right-warp {
    /*display: flex;*/
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #484848;
}
.thesis-right-warp:first-child {
    background-color: #d8d8d8;
}
.thesis-right-warp img {
    /*width: 35%;
    height: auto;
    padding: 1rem;*/
    width: 100%;
    height: auto;
    padding: 1rem;
}
.thesis-right-text {
    /*width: 65%;
    align-self: center;
    padding-right: 2rem;*/
    margin: 0 2rem;
}
.thesis-right-text h4 {
    font-size: 1rem;
}
.thesis-right-text p {
    /*font-size: small;*/
    font-size: 0.8rem;
    padding: 0.25rem 0;
}
.thesis hr {
    border: 1px solid #d3d3d3;
}
/*hide thesis mobile*/
.thesis-mobile {
    display: none;
}
/*End of desktop section*/

/*Start of moblie section*/
.mobile-nav {
    display: none;
}
/*if the width of screen os 640px(40rem)*/
@media screen and (max-width: 40rem) {
    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-column: full--start / full--end;
        height: 4rem;
    }
    .desktop-nav {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header-picture img {
        padding: 0;
        width: 100%;
        object-fit: cover;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 2rem 1rem 2rem 1rem;
    }
    .header-content div h1 {
        padding: 0 0 2rem 0; /*top right bottom left*/
        font-size: xx-large;
    }
    .header-content div h2 {
        padding: 0 0 1.5rem 0;
        font-size: larger;
    }
    .header-content div {
        display: block;
        width: 100%;
    }
    .header-content div a:link {
        display: block;
        width: 100%;
        align-self: stretch;
        background-color: rgb(72, 72, 72, 0.5);
        color: white;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
    }
    /*hover effect for call to action link*/
    .header-content div a:hover {
        background-color: #484848;
    }
    .header-content div a:visited, .header-content div a:active {
        color: #fff;
        text-decoration: none;
        background-color: rgb(72, 72, 72, 0.5);
    }
    /*hide the desktop version for 'start practicing'*/
    .practice {
        display: none;
    }
    .events {
        display: none;
    }
    .events-mobile {
        display: grid;
        padding: 1rem;
    }
    .events-mobile, .event-block {
        grid-template-columns: 1fr;
    }
    .events-mobile, .event-block img {
        padding: 0;
    }
    .events-mobile, .event-block-content {
        padding: 2rem 0 2rem 1rem;
        margin: 0;
    }
    /*hide ul for mobile version*/
    footer {
        padding-top: 1.5rem;
    }
    footer p {
        padding: 1rem 0;
    }
    footer ul {
        display: none;
    }
    /*hide learning for mobile version*/
    .start-learning {
        display: none;
    }
    /*hide thesis for mobile version*/
    .thesis {
        display: none;
    }
    .start-learning-mobile {
        display: grid;
        padding: 2rem 1rem;
        border: 1px solid #d3d3d3;
    }
    .start-learning-title {
        padding-bottom: 2rem;
    }
    /*buttons for start learning items*/
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    .card {
        background-color: grey;
        text-decoration: none;
    }
    .card-content {
        padding: 1rem 1rem 2rem 1rem;
    }
    .card-content h4 {
        color: black;
        font-size: 1.5rem;
    }
    /*thesis mobile version*/
    .thesis-mobile {
        display: grid;
        margin: 2rem 0 2rem;
    }
    .thesis-mobile h2 {
        text-align: center;
        padding-bottom: 1rem;
    }
    .thesis-video-mobile {
        grid-column: 1 / -1;
    }
    .thesis-video-mobile video {
        width: 100%;
    }
    
}
/*End of moblie section*/